
<div class="row">
  {{# unless leaves}}
  <div class="col-md-12 text-muted">
   {{ t "calendar:no_leave_requests_yet" }}
  </div>
  {{else}}

  <div class="col-md-12">
    <p class="visible-xs-block"><em class="text-muted">{{ t "calendar:scroll_table_horizontally" }}</em></p>
    <div class="table-responsive">
    <table class="table table-hover user-requests-table">
      <thead>
        <tr>
          <th>{{{ t "calendar:table_head_dates" }}}</th>
          <th>{{ t "calendar:table_head_type" }}</th>
          <th>{{ t "calendar:table_head_deducted" }}</th>
          <th>{{ t "calendar:table_head_approved_by" }}</th>
          <th></th>
          <th><span class="pull-right">{{ t "calendar:table_head_status" }}</span></th>
        </tr>
      </thead>

      <tbody>
      {{# each leaves }}

      <tr class="leave-request-row">
        <td data-tom-leave-dates="1">{{> leave_dates leave=this}}</td>
        <td>{{ this.leave_type.name }}{{#if this.is_pended_revoke_leave}}<br>({{ t "calendar:pended_revoke" }}){{/if}}</td>
        <td>{{ this.get_deducted_days_number }}</td>
        <td class="user-request-table-approver">{{#with this.approver}}{{this.full_name}}{{/with}}</td>
        <td>
          {{# if this.is_approved_leave }}
          {{# unless this.is_pended_revoke_leave}}
          <form method="post" action="/requests/revoke/">
            <input type="hidden" value="{{this.id}}" name="request">
            <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="{{ t "calendar:revoke_tip" }}"><i class="fa fa-trash"> {{ t "revoke" }}</i></button>
          </form>
          {{/unless}}
          {{else}}
            {{#if_equal this.userId ../logged_user.id }}
            <form method="post" action='/requests/cancel/'>
              <input type="hidden" value="{{this.id}}" name="request">
              <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="{{ t "calendar:cancel_tip" }}" value="cancel"><i class="fa fa-trash"> {{ t "cancel" }}</i></button>
            </form>
            {{/if_equal}}
          {{/if}}
        </td>
        <td><span class="pull-right leave-request-row-status">{{#if this.is_new_leave }}{{ t "pending" }}{{else}}{{#if this.is_approved_leave}}{{ t "approved" }}{{else}}{{ t "rejected" }}{{/if}}{{/if}}</span></td>
      </tr>

      {{/ each }}

      </tbody>
    </table>
    </div>
  </div>
  {{/unless}}
</div>
