
{{> header }}

<h1>{{ t "calendar:title" }}</h1>

<div class="row">
    <div class="col-md-6 lead">{{ t "calendar:page_infos" (object name=logged_user.name lastname=logged_user.lastname current_year=current_year) }}</div>
    <div class="col-md-6">
    </div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row main-row_header hidden-xs">
  <div class="col-md-12">{{ t "calendar:statistics_title" }}</div>
</div>

<div class="row">


  <div class="col-md-3 top-leave-type-statistics">
    <dl>
      {{#with current_user }}
      <dt data-tom-days-available-in-allowance>{{ ../user_allowance.number_of_days_available_in_allowance }}</dt>
      <dd>{{ t "calendar:days_available" }}</dd>
      <dd>
        {{{ t "calendar:out_of_allowance" (object num=../user_allowance.total_number_of_days_in_allowance) }}}
        
        </dd>
      {{/with}}
    </dl>
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    {{> user_details/allowance_breakdown user_allowance = user_allowance }}
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    <dl>
      <dt>{{ t "calendar:used_so_far" }}</dt>

      {{# if leave_type_statistics }}
        {{# each leave_type_statistics }}
          <dd><em>{{this.leave_type.name}}:</em> <span class="pull-right">{{this.days_taken}}{{# if this.limit}} out of {{this.limit}}{{/if}}</span></dd>
        {{/each}}
      {{else}}

        <dd class="text-muted">{{ t "calendar:no_approved_requests_so_far" }}</dd>
      {{/if}}
    </dl>
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    <dl>
      <dt>{{ t "calendar:details" }}</dt>
      {{~# each supervisors  ~}}
      <dd>
        <em>{{# if  @first }} {{ t "calendar:supervisor" }}: {{ else   }}  &nbsp;   {{/ if  }}</em>
        <span class="pull-right"><a href="mailto:{{this.email}}">{{ this.full_name }}</a></span>
      </dd>
      {{~/ each ~}}
      <dd><em>{{ t "calendar:department" }}:</em> <span class="pull-right"><a href="/calendar/teamview/?department={{ current_user.department.id }}">{{ current_user.department.name }}</a></span></dd>
      <dd><em>{{ t "calendar:allowance_in" (object current_year=current_year) }}:</em><span class="pull-right"> {{ user_allowance.total_number_of_days_in_allowance }} {{ t "days" }}</span><dd>
    </dl>
  </div>

</div>

<div class="row">
</div>


<div class="row main-row_header">
  <div class="col-md-12">{{ t "calendar:feed_title" }} <a href="/calendar/feeds/" data-toggle="tooltip" data-placement="right" title="{{ t "calendar:feed_title_tip" }}"><span class="fa fa-rss"></span></a></div>
</div>

<div class="row">
  <div class="col-xs-2">
    {{#if show_full_year}}
    <a class="btn btn-default" href="/calendar/?year={{previous_year}}{{#if show_full_year}}&show_full_year=1{{/if}}"><span aria-hidden="true" class="fa fa-chevron-left"></span> {{previous_year}} </a>
    {{/if}}
  </div>
  <div class="col-xs-8 calendar-section-caption">

    <strong>{{#if show_full_year}}{{ t "calendar:calendar_section_title" (object current_year=current_year) }}{{else}}{{ t "calendar:upcoming_months" }}{{/if}}</strong>
    &nbsp;

    {{# unless show_full_year}}
    <a class="btn btn-default" href="/calendar/?show_full_year=1">{{ t "calendar:more_months" }} &nbsp;<span class="fa fa-plus"></span></a>
    {{else}}
    <a class="btn btn-default" href="/calendar/">{{ t "calendar:less_months" }} &nbsp;<span class="fa fa-minus"></span></a>
    {{/unless}}


  </div>
  <div class="col-xs-2">
    {{#if show_full_year}}
    <a class="btn btn-default pull-right" href="/calendar/?year={{next_year}}{{#if show_full_year}}&show_full_year=1{{/if}}">{{next_year}} <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
    {{/if}}
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row clearfix">

    {{# each calendar}}
    <div class="col-md-3 month_container">
        <table class="calendar_month month_{{ this.month }}">
        <thead>
        <tr>
            <td colspan="14">{{#if ../show_full_year}}{{this.month}}{{else}}{{as_date_formatted this.moment 'MMMM, YYYY'}}{{/if}}</td>
        </tr>
        <tr>
            <td colspan="2">{{ t "calendar_week_monday" }}</td>
            <td colspan="2">{{ t "calendar_week_tuesday" }}</td>
            <td colspan="2">{{ t "calendar_week_wednesday" }}</td>
            <td colspan="2">{{ t "calendar_week_thursday" }}</td>
            <td colspan="2">{{ t "calendar_week_friday" }}</td>
            <td colspan="2">{{ t "calendar_week_saturday" }}</td>
            <td colspan="2">{{ t "calendar_week_sunday" }}</td>
        </tr>
        </thead>
        <tbody>
        {{#each this.weeks }}
        <tr>
            {{#each this}}
              {{> calendar_cell day = this}}
            {{/each}}
        </tr>
        {{/each}}

        </tbody></table>
    </div>
    {{/each}}

</div>

{{# unless show_full_year}}

  <div class="row main-row_header">
    <p class="col-md-12">{{ t "calendar:all_my_absences_in" (object current_year=current_year) }}</p>
  </div>

  {{> user_requests leaves=current_user.my_leaves }}

{{/unless}}


{{> footer }}
